In [1]:
import pandas as pd
import numpy as np

In [2]:
#latlong_arr_Paris = pd.read_csv("datasets/neighbourhoods_paris.csv")
#latlong_arr_Paris.columns = ["arrondissement", "nom", "prix_m2", "latitude", "longitude"]
#latlong_arr_Paris.sort_values(by = "latitude")

In [3]:
df = pd.read_csv("datasets/Velib_MAY_2022.csv")
df

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,ping_time
0,Benjamin Godard - Victor Hugo,16107,2,1,"[48.865983, 2.275725]",2022-05-01T00:33:45+02:00,3,31,35.0,OUI,OUI,Paris,OUI,01/05/2022 00:50:01
1,Charonne - Robert et Sonia Delauney,11104,9,4,"[48.85590755596891, 2.3925706744194035]",2022-05-01T00:39:22+02:00,13,5,20.0,OUI,OUI,Paris,OUI,01/05/2022 00:50:01
2,Mairie du 12ème,12109,0,0,"[48.840855311763, 2.3875549435616]",2022-05-01T00:40:15+02:00,0,30,30.0,NON,OUI,Paris,NON,01/05/2022 00:50:01
3,Toudouze - Clauzel,9020,1,1,"[48.87929591733507, 2.3373600840568547]",2022-05-01T00:38:42+02:00,2,19,21.0,OUI,OUI,Paris,OUI,01/05/2022 00:50:01
4,Harpe - Saint-Germain,5001,2,34,"[48.85151881501689, 2.343670316040516]",2022-05-01T00:40:52+02:00,36,8,45.0,OUI,OUI,Paris,OUI,01/05/2022 00:50:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6200899,Bateliers - Quai de Seine,34012,0,0,"[48.915817585516, 2.3239533298594]",2022-05-25T11:59:46+02:00,0,26,26.0,NON,NON,Saint-Ouen-sur-Seine,NON,08/07/2022 15:30:01
6200900,Mairie du 17ème,17012,0,0,"[48.884161848716, 2.3220794311037]",2022-05-17T20:32:53+02:00,0,24,24.0,NON,OUI,Paris,NON,08/07/2022 15:40:02
6200901,Docteur Calmette - Martre,21120,0,0,"[48.898969358483, 2.3086513252383]",2022-05-30T09:30:41+02:00,0,30,30.0,NON,NON,Clichy,NON,08/07/2022 15:40:02
6200902,Georges Bernanos - Port Royal,5029,0,0,"[48.840145213474, 2.3373574018478]",2022-05-08T20:51:56+02:00,0,30,30.0,NON,OUI,Paris,NON,08/07/2022 15:40:02
6200903,Bateliers - Quai de Seine,34012,0,0,"[48.915817585516, 2.3239533298594]",2022-05-25T11:59:46+02:00,0,26,26.0,NON,NON,Saint-Ouen-sur-Seine,NON,08/07/2022 15:40:02

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6200904 entries, 0 to 6200903
Data columns (total 14 columns):
name                           object
stationcode                    object
ebike                          int64
mechanical                     int64
coordonnees_geo                object
duedate                        object
numbikesavailable              int64
numdocksavailable              int64
capacity                       float64
is_renting                     object
is_installed                   object
nom_arrondissement_communes    object
is_returning                   object
ping_time                      object
dtypes: float64(1), int64(4), object(9)
memory usage: 662.3+ MB

In [5]:
df["capacity"].unique()

array([35., 20., 30., 21., 45., 60., 12., 23., 25., 31., 48., 50., 17.,
       27., 40., 62., 22., 36., 29., 34., 43., 38., 52., 42., 33., 44.,
       26., 18., 16., 24., 28., 32., 14., 46., 63., 19.,  0., 39., 49.,
       58., 53., 64., 15., 37., 65., 57., 61., 51., 55., 47., 59., 56.,
       66., 54., 71., 41., 11.,  7., 13., 69., 74., 68., 67., nan])

In [6]:
# nombre de stations velib total
df["stationcode"].nunique()

1423

In [7]:
# nombre de stations velib dans Paris
df.loc[df["nom_arrondissement_communes"] == "Paris", "stationcode"].nunique()

987

In [8]:
df["nom_arrondissement_communes"].unique()

array(['Paris', 'Aubervilliers', 'Nogent-sur-Marne', 'Ivry-sur-Seine',
       'Boulogne-Billancourt', 'Rueil-Malmaison', 'Montreuil',
       'Maisons-Alfort', 'Vincennes', 'Montrouge', 'Bagneux', 'Nanterre',
       'Vitry-sur-Seine', 'Villejuif', 'Rosny-sous-Bois', 'Bagnolet',
       'Malakoff', 'Asnières-sur-Seine', 'Champigny-sur-Marne', 'Pantin',
       'Joinville-le-Pont', 'Choisy-le-Roi', 'Le Kremlin-Bicêtre',
       'Le Pré-Saint-Gervais', 'Issy-les-Moulineaux',
       'Fontenay-sous-Bois', 'Alfortville', 'Vanves', 'Les Lilas',
       'Courbevoie', 'Neuilly-sur-Seine', 'Saint-Mandé', 'Romainville',
       'Cachan', 'Saint-Denis', 'Clichy', 'Arcueil', 'Gentilly',
       'Levallois-Perret', 'Puteaux', 'La Garenne-Colombes', 'Clamart',
       'Charenton-le-Pont', 'Colombes', 'Chaville', 'Suresnes',
       'Saint-Ouen-sur-Seine', 'Saint-Cloud', 'Argenteuil',
       'Saint-Maurice', 'Sceaux', 'Meudon', 'Sèvres',
       'Fontenay-aux-Roses', 'Gennevilliers', 'Bourg-la-Reine',
       'Châtillon', "Ville-d'Avray", 'Bois-Colombes', 'Noisy-le-Sec', nan,
       'Bobigny'], dtype=object)

In [9]:
df["nom_arrondissement_communes"].value_counts()

Paris                   4310605
Boulogne-Billancourt     126585
Montreuil                104760
Pantin                    91665
Ivry-sur-Seine            78570
                         ...
Joinville-le-Pont          8730
Noisy-le-Sec               8730
Bois-Colombes              4365
Ville-d'Avray              4365
Bobigny                       2
Name: nom_arrondissement_communes, Length: 61, dtype: int64

In [11]:
df["name"].nunique()

1420

In [12]:
df["coordonnees_geo"].nunique()

1457

In [13]:
name_station = df[["name", "stationcode"]]
name_station

                                        name stationcode
0              Benjamin Godard - Victor Hugo       16107
1        Charonne - Robert et Sonia Delauney       11104
2                            Mairie du 12ème       12109
3                         Toudouze - Clauzel        9020
4                      Harpe - Saint-Germain        5001
...                                      ...         ...
6200899            Bateliers - Quai de Seine       34012
6200900                      Mairie du 17ème       17012
6200901            Docteur Calmette - Martre       21120
6200902        Georges Bernanos - Port Royal        5029
6200903            Bateliers - Quai de Seine       34012

[6200904 rows x 2 columns]

In [14]:
result = df.groupby(name_station["stationcode"])["name"].value_counts()
result.to_frame(name = "count")

                                                     count
stationcode name
10001       René Boulanger - Lancry                   4353
10003       Hauteville - Bonne Nouvelle               4365
10004       Metz - Faubourg Saint-Denis               4365
10005       Petites Ecuries - Faubourg Poissonnière   4365
10006       Petites Ecuries - Faubourg Saint-Denis    4365
...                                                    ...
92004       Nanterre - Université                     4365
92005       Gare de Nanterre Ville                    4365
92006       Place Nelson Mandela                      4365
92007       Pesaro - Préfecture                       4365
92008       Hôtel de Ville de Nanterre                4365

[1423 rows x 1 columns]

In [15]:
result = result.index.to_frame().reset_index(drop=True)

In [16]:
result["stationcode"].nunique()

1422

In [17]:
result[result["name"].duplicated(keep = False)]

       stationcode                  name
260          13118      Regnault - Patay
261   13118_Relais      Regnault - Patay
882          22504  Château - République
931          25006  Place Nelson Mandela
998          31706  Château - République
1420         92006  Place Nelson Mandela

In [18]:
df[df["stationcode"] == "13118_Relais"]

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,ping_time
3600407,NaN,13118_Relais,0,0,NaN,2022-05-19T08:43:47+02:00,0,0,NaN,OUI,OUI,NaN,OUI,19/05/2022 08:48:01
3601823,NaN,13118_Relais,0,0,NaN,2022-05-19T08:43:47+02:00,0,0,NaN,OUI,OUI,NaN,OUI,19/05/2022 08:58:01
3603180,Regnault - Patay,13118_Relais,0,0,"[48.824305287067, 2.3763057589531]",2022-05-19T08:43:47+02:00,0,0,0.0,OUI,OUI,Paris,OUI,19/05/2022 09:08:01
3604642,Regnault - Patay,13118_Relais,0,0,"[48.824305287067, 2.3763057589531]",2022-05-19T08:42:02+02:00,0,0,0.0,OUI,OUI,Paris,OUI,19/05/2022 09:18:01
3606064,Regnault - Patay,13118_Relais,0,0,"[48.824305287067, 2.3763057589531]",2022-05-19T08:42:02+02:00,0,0,0.0,OUI,OUI,Paris,OUI,19/05/2022 09:28:01
3607522,Regnault - Patay,13118_Relais,0,0,"[48.824305287067, 2.3763057589531]",2022-05-19T08:42:02+02:00,0,0,0.0,OUI,OUI,Paris,OUI,19/05/2022 09:38:01

In [19]:
#df_cleaned = df.drop(df[df["stationcode"] == "13118_Relais"].index)

In [22]:
df_cleaned = df.drop(columns = ["ping_time"])

In [23]:
# enlever les "_Relais" dans toutes les stations codes où il y en a
df_cleaned.loc[df_cleaned["stationcode"].str.contains("_Relais", case = False, na = False), "stationcode"] = df_cleaned["stationcode"].str[:-7]

In [24]:
df_cleaned.shape[0]

6200904

In [25]:
df_cleaned = df_cleaned.drop_duplicates()
df_cleaned.shape[0]

3285139

In [26]:
df_cleaned

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning
0,Benjamin Godard - Victor Hugo,16107,2,1,"[48.865983, 2.275725]",2022-05-01T00:33:45+02:00,3,31,35.0,OUI,OUI,Paris,OUI
1,Charonne - Robert et Sonia Delauney,11104,9,4,"[48.85590755596891, 2.3925706744194035]",2022-05-01T00:39:22+02:00,13,5,20.0,OUI,OUI,Paris,OUI
2,Mairie du 12ème,12109,0,0,"[48.840855311763, 2.3875549435616]",2022-05-01T00:40:15+02:00,0,30,30.0,NON,OUI,Paris,NON
3,Toudouze - Clauzel,9020,1,1,"[48.87929591733507, 2.3373600840568547]",2022-05-01T00:38:42+02:00,2,19,21.0,OUI,OUI,Paris,OUI
4,Harpe - Saint-Germain,5001,2,34,"[48.85151881501689, 2.343670316040516]",2022-05-01T00:40:52+02:00,36,8,45.0,OUI,OUI,Paris,OUI
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6179193,Garibaldi - Gabriel Péri,34008,8,17,"[48.90574191139427, 2.331604420805889]",2022-05-31T23:26:24+02:00,25,3,30.0,OUI,OUI,Saint-Ouen-sur-Seine,OUI
6179197,Ordener - Poissonniers,18023,24,9,"[48.891213890844654, 2.351288666219873]",2022-05-31T23:24:00+02:00,33,2,35.0,OUI,OUI,Paris,OUI
6179200,Malesherbes - Place de la Madeleine,8004,3,1,"[48.87040602848252, 2.323243509807989]",2022-05-31T23:25:58+02:00,4,62,67.0,OUI,OUI,Paris,OUI
6179207,Charonne - Alexandre Dumas,20014,1,4,"[48.85607741505607, 2.394869327545166]",2022-05-31T23:34:06+02:00,5,30,35.0,OUI,OUI,Paris,OUI
6179232,Haies - Réunion,20116,6,3,"[48.85386896766491, 2.402426162238911]",2022-05-31T23:25:28+02:00,9,12,22.0,OUI,OUI,Paris,OUI

In [27]:
df_cleaned.isnull().sum()

name                           4
stationcode                    0
ebike                          0
mechanical                     0
coordonnees_geo                4
duedate                        0
numbikesavailable              0
numdocksavailable              0
capacity                       4
is_renting                     0
is_installed                   0
nom_arrondissement_communes    4
is_returning                   0
dtype: int64

In [28]:
df_cleaned = df_cleaned.drop(df_cleaned[df_cleaned["name"].isnull()].index)

In [29]:
df_cleaned.isnull().sum()

name                           0
stationcode                    0
ebike                          0
mechanical                     0
coordonnees_geo                0
duedate                        0
numbikesavailable              0
numdocksavailable              0
capacity                       0
is_renting                     0
is_installed                   0
nom_arrondissement_communes    0
is_returning                   0
dtype: int64

In [30]:
df_cleaned["duedate"] = pd.to_datetime(df_cleaned["duedate"])

In [ ]:
#df_cleaned["duedate"] = df_cleaned["duedate"].dt.round("H")

In [ ]:
#df_cleaned.drop_duplicates(keep='last')

In [31]:
df_cleaned["capacity"] = df_cleaned["capacity"].astype(int)

In [32]:
df_cleaned.shape

(3285135, 13)

# ANALYSE SUR PARIS INTRA-MUROS

In [33]:
minidf = df_cleaned[df_cleaned["nom_arrondissement_communes"] == "Paris"]
minidf

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning
0,Benjamin Godard - Victor Hugo,16107,2,1,"[48.865983, 2.275725]",2022-05-01 00:33:45+02:00,3,31,35,OUI,OUI,Paris,OUI
1,Charonne - Robert et Sonia Delauney,11104,9,4,"[48.85590755596891, 2.3925706744194035]",2022-05-01 00:39:22+02:00,13,5,20,OUI,OUI,Paris,OUI
2,Mairie du 12ème,12109,0,0,"[48.840855311763, 2.3875549435616]",2022-05-01 00:40:15+02:00,0,30,30,NON,OUI,Paris,NON
3,Toudouze - Clauzel,9020,1,1,"[48.87929591733507, 2.3373600840568547]",2022-05-01 00:38:42+02:00,2,19,21,OUI,OUI,Paris,OUI
4,Harpe - Saint-Germain,5001,2,34,"[48.85151881501689, 2.343670316040516]",2022-05-01 00:40:52+02:00,36,8,45,OUI,OUI,Paris,OUI
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6179188,Pierre Ginier - Clichy,18045,6,7,"[48.8867667, 2.326228]",2022-05-31 23:26:46+02:00,13,3,16,OUI,OUI,Paris,OUI
6179197,Ordener - Poissonniers,18023,24,9,"[48.891213890844654, 2.351288666219873]",2022-05-31 23:24:00+02:00,33,2,35,OUI,OUI,Paris,OUI
6179200,Malesherbes - Place de la Madeleine,8004,3,1,"[48.87040602848252, 2.323243509807989]",2022-05-31 23:25:58+02:00,4,62,67,OUI,OUI,Paris,OUI
6179207,Charonne - Alexandre Dumas,20014,1,4,"[48.85607741505607, 2.394869327545166]",2022-05-31 23:34:06+02:00,5,30,35,OUI,OUI,Paris,OUI
6179232,Haies - Réunion,20116,6,3,"[48.85386896766491, 2.402426162238911]",2022-05-31 23:25:28+02:00,9,12,22,OUI,OUI,Paris,OUI

In [34]:
minidf["name"].nunique()

986

In [35]:
minidf["stationcode"].nunique() # il y a 985 stations différentes dans Paris

986

In [36]:
minidf["coordonnees_geo"].nunique() # il y a 992 localisations différentes de stations dans Paris

1020

In [37]:
minidf["coordonnees_geo"].unique()[:10] # afficher les 10 premières

array(['[48.865983, 2.275725]', '[48.85590755596891, 2.3925706744194035]',
       '[48.840855311763, 2.3875549435616]',
       '[48.87929591733507, 2.3373600840568547]',
       '[48.85151881501689, 2.343670316040516]',
       '[48.8710440519842, 2.366104461987773]',
       '[48.819428333369, 2.3433353751898]',
       '[48.85165383178419, 2.3308077827095985]',
       '[48.875448033960744, 2.315508019010038]',
       '[48.84389286531899, 2.3519663885235786]'], dtype=object)

In [38]:
minidf["coordonnees_geo"] = minidf["coordonnees_geo"].str[1:-1]
minidf["coordonnees_geo"]

C:\Users\Emma\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0                            48.865983, 2.275725
1          48.85590755596891, 2.3925706744194035
2               48.840855311763, 2.3875549435616
3          48.87929591733507, 2.3373600840568547
4           48.85151881501689, 2.343670316040516
                           ...
6179188                     48.8867667, 2.326228
6179197    48.891213890844654, 2.351288666219873
6179200     48.87040602848252, 2.323243509807989
6179207     48.85607741505607, 2.394869327545166
6179232     48.85386896766491, 2.402426162238911
Name: coordonnees_geo, Length: 2437959, dtype: object

In [39]:
minidf[["Latitude","Longitude"]] = minidf["coordonnees_geo"].str.split(', ', expand = True)
minidf["Latitude"] = minidf["Latitude"].astype(float)
minidf["Longitude"] = minidf["Longitude"].astype(float)

C:\Users\Emma\Anaconda3\lib\site-packages\pandas\core\frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\Emma\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Emma\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [40]:
minidf["capacity"].unique()

array([35, 20, 30, 21, 45, 60, 12, 23, 25, 48, 17, 40, 62, 36, 29, 34, 43,
       52, 42, 33, 44, 18, 16, 26, 32, 14, 22, 46, 24, 27, 63, 19, 39, 49,
       38, 58, 50, 64, 28, 37, 65, 53, 51, 57, 31, 55, 47, 59, 56, 66, 54,
       71, 15, 41, 11, 13, 69, 74, 68, 67,  0], dtype=int64)

In [41]:
# capacité

In [42]:
(minidf["numbikesavailable"] + minidf["numdocksavailable"]).unique()

array([34, 18, 30, 21, 44, 55, 60, 11, 23, 24, 48, 17, 19, 38, 47, 59, 36,
       29, 33, 52, 35, 41, 31, 32, 42, 28, 15, 25, 40, 14, 46, 20, 22, 26,
       16, 57, 39, 27, 37, 43, 50, 49, 62, 45, 63, 51, 54, 58, 61, 64, 13,
       53, 70,  9, 56, 66, 12, 69, 71, 67, 65, 68,  8, 72, 10, 73, 75, 77,
       78, 79, 81, 74, 76, 80,  7,  6,  5, 82, 83, 84,  0], dtype=int64)

In [43]:
# ce serait des bornes en maintenance soit des vélos crevés ou autre qui ont été remis à leur place ?

In [44]:
minidf

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,Latitude,Longitude
0,Benjamin Godard - Victor Hugo,16107,2,1,"48.865983, 2.275725",2022-05-01 00:33:45+02:00,3,31,35,OUI,OUI,Paris,OUI,48.865983,2.275725
1,Charonne - Robert et Sonia Delauney,11104,9,4,"48.85590755596891, 2.3925706744194035",2022-05-01 00:39:22+02:00,13,5,20,OUI,OUI,Paris,OUI,48.855908,2.392571
2,Mairie du 12ème,12109,0,0,"48.840855311763, 2.3875549435616",2022-05-01 00:40:15+02:00,0,30,30,NON,OUI,Paris,NON,48.840855,2.387555
3,Toudouze - Clauzel,9020,1,1,"48.87929591733507, 2.3373600840568547",2022-05-01 00:38:42+02:00,2,19,21,OUI,OUI,Paris,OUI,48.879296,2.337360
4,Harpe - Saint-Germain,5001,2,34,"48.85151881501689, 2.343670316040516",2022-05-01 00:40:52+02:00,36,8,45,OUI,OUI,Paris,OUI,48.851519,2.343670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6179188,Pierre Ginier - Clichy,18045,6,7,"48.8867667, 2.326228",2022-05-31 23:26:46+02:00,13,3,16,OUI,OUI,Paris,OUI,48.886767,2.326228
6179197,Ordener - Poissonniers,18023,24,9,"48.891213890844654, 2.351288666219873",2022-05-31 23:24:00+02:00,33,2,35,OUI,OUI,Paris,OUI,48.891214,2.351289
6179200,Malesherbes - Place de la Madeleine,8004,3,1,"48.87040602848252, 2.323243509807989",2022-05-31 23:25:58+02:00,4,62,67,OUI,OUI,Paris,OUI,48.870406,2.323244
6179207,Charonne - Alexandre Dumas,20014,1,4,"48.85607741505607, 2.394869327545166",2022-05-31 23:34:06+02:00,5,30,35,OUI,OUI,Paris,OUI,48.856077,2.394869
6179232,Haies - Réunion,20116,6,3,"48.85386896766491, 2.402426162238911",2022-05-31 23:25:28+02:00,9,12,22,OUI,OUI,Paris,OUI,48.853869,2.402426

### A FAIRE UNE FOIS SEULEMENT, LATLONG_FINAL ENREGISTRE !

In [53]:
import geopy

In [54]:
def get_zipcode(df, geolocator, lat_field, lon_field):
    location = geolocator.reverse((df[lat_field], df[lon_field]))
    return location.raw['address']['postcode']

In [55]:
geolocator = geopy.Nominatim(user_agent='http')

In [56]:
latlong = minidf[["Latitude", "Longitude"]]
latlong.shape

(2437959, 2)

In [57]:
latlong["Latitude"] = latlong["Latitude"].astype(str) #.round(6)
latlong["Longitude"] = latlong["Longitude"].astype(str) #.round(6)

C:\Users\Emma\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Emma\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [58]:
latlong_unique = latlong.drop_duplicates()
latlong_unique.shape

(1020, 2)

In [59]:
#latlong_unique

In [62]:
latlong_unique_sans = latlong_unique.drop(index=[278, 354, 462, 684, 821, 1063]) # pour df4 345, 435, 688, 769, 1008
latlong_unique_sans

                  Latitude           Longitude
0                48.865983            2.275725
1        48.85590755596891  2.3925706744194035
2          48.840855311763     2.3875549435616
3        48.87929591733507  2.3373600840568547
4        48.85151881501689   2.343670316040516
...                    ...                 ...
5369284    48.846918761569     2.4105220288038
5377777     48.85026702458     2.4062821269035
5377912    48.847796779935     2.4061721563339
5882172         48.8478103           2.3659356
6049388    48.841487851079     2.3233232282801

[1014 rows x 2 columns]

In [63]:
minidf["stationcode"].nunique()

986

In [ ]:
# ligne345 = minidf[minidf.index == 345]
# ligne345

In [ ]:
# ligne435 = minidf[minidf.index == 435]
# ligne435

In [ ]:
# ligne688 = minidf[minidf.index == 688]
# ligne688

In [ ]:
# ligne769 = minidf[minidf.index == 769]
# ligne769

In [ ]:
# ligne1008 = minidf[minidf.index == 1008]
# ligne1008

In [64]:
zipcodes = latlong_unique_sans.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='Latitude', lon_field='Longitude')
#zipcodes

In [ ]:
# df_cleaned.iloc[zipcodes[zipcodes == '75220'].index]

In [65]:
zipcodes.unique()

array(['75116', '75011', '75012', '75009', '75005', '75010', '75014',
       '75006', '75008', '75013', '75017', '75007', '75015', '75020',
       '75019', '75016', '75002', '75018', '75001', '75220', '92522',
       '94220', '75003', '92200', '75004'], dtype=object)

In [66]:
zipcodes[zipcodes == '92522'] = '75016'

In [67]:
zipcodes[zipcodes == '92200'] = '75016'

In [68]:
zipcodes[zipcodes == '94220'] = '75012'

In [69]:
zipcodes[zipcodes == '75220'] = '75016'

In [70]:
zipcodes.unique()

array(['75116', '75011', '75012', '75009', '75005', '75010', '75014',
       '75006', '75008', '75013', '75017', '75007', '75015', '75020',
       '75019', '75016', '75002', '75018', '75001', '75003', '75004'],
      dtype=object)

In [71]:
latlong_unique_sans["arrondissement"] = zipcodes.str[-2:]
latlong_unique_sans

                  Latitude           Longitude arrondissement
0                48.865983            2.275725             16
1        48.85590755596891  2.3925706744194035             11
2          48.840855311763     2.3875549435616             12
3        48.87929591733507  2.3373600840568547             09
4        48.85151881501689   2.343670316040516             05
...                    ...                 ...            ...
5369284    48.846918761569     2.4105220288038             12
5377777     48.85026702458     2.4062821269035             20
5377912    48.847796779935     2.4061721563339             20
5882172         48.8478103           2.3659356             04
6049388    48.841487851079     2.3233232282801             15

[1014 rows x 3 columns]

In [72]:
278, 354, 462, 684, 821, 1063
a_rajouter1 = latlong_unique[latlong_unique.index == 278]
a_rajouter2 = latlong_unique[latlong_unique.index == 354]
a_rajouter3 = latlong_unique[latlong_unique.index == 462]
a_rajouter4 = latlong_unique[latlong_unique.index == 684]
a_rajouter5 = latlong_unique[latlong_unique.index == 821]
a_rajouter6 = latlong_unique[latlong_unique.index == 1063]
liste_a_rajouter = [a_rajouter1, a_rajouter2, a_rajouter3, a_rajouter4, a_rajouter5, a_rajouter6]
a_rajouter = pd.concat(liste_a_rajouter)

In [73]:
a_rajouter["arrondissement"] = ['11','08','19','04','10', '06']
#a_rajouter

In [74]:
liste_dfs = [latlong_unique_sans, a_rajouter]
latlong_final = pd.concat(liste_dfs)
latlong_final

                Latitude           Longitude arrondissement
0              48.865983            2.275725             16
1      48.85590755596891  2.3925706744194035             11
2        48.840855311763     2.3875549435616             12
3      48.87929591733507  2.3373600840568547             09
4      48.85151881501689   2.343670316040516             05
...                  ...                 ...            ...
354   48.878199928923124  2.2992860188665043             08
462           48.8756045           2.3995549             19
684   48.855580507049055   2.368433367343057             04
821   48.870047123655254   2.351124845445156             10
1063      48.84501507626     2.3394941166043             06

[1020 rows x 3 columns]

In [75]:
latlong_final.to_csv("coordgeo_arr_Paris_may2022.csv")

### OK, RECUPERER LATLONG_FINAL

In [76]:
latlong_final = pd.read_csv("coordgeo_arr_Paris_may2022.csv")
latlong_final = latlong_final.set_index(latlong_final.columns[0])
latlong_final

             Latitude  Longitude  arrondissement
Unnamed: 0
0           48.865983   2.275725              16
1           48.855908   2.392571              11
2           48.840855   2.387555              12
3           48.879296   2.337360               9
4           48.851519   2.343670               5
...               ...        ...             ...
354         48.878200   2.299286               8
462         48.875605   2.399555              19
684         48.855581   2.368433               4
821         48.870047   2.351125              10
1063        48.845015   2.339494               6

[1020 rows x 3 columns]

In [80]:
latlong_final["arrondissement"] = latlong_final["arrondissement"].astype(str).str.zfill(2)
latlong_final["Latitude"] = latlong_final["Latitude"].astype(str)
latlong_final["Longitude"] = latlong_final["Longitude"].astype(str)

In [82]:
latlong_final

                      Latitude           Longitude arrondissement
Unnamed: 0
0                    48.865983            2.275725             16
1           48.855907555968905  2.3925706744194035             11
2              48.840855311763     2.3875549435616             12
3            48.87929591733507  2.3373600840568547             09
4            48.85151881501689  2.3436703160405163             05
...                        ...                 ...            ...
354         48.878199928923124  2.2992860188665043             08
462                 48.8756045           2.3995549             19
684          48.85558050704906  2.3684333673430564             04
821         48.870047123655254  2.3511248454451557             10
1063            48.84501507626  2.3394941166042997             06

[1020 rows x 3 columns]

In [81]:
latlong.loc[0, "Latitude"]#.astype(str)

'48.865983'

In [83]:
latlong_final.loc[0, "Latitude"]#.astype(str)

'48.865983'

In [ ]:
#latlong_final["Latitude"] = latlong_final["Latitude"].round(6)

In [ ]:
#latlong_final["Longitude"] = latlong_final["Longitude"].round(6)

In [84]:
latlong["Latitude"] = latlong["Latitude"].str[:latlong["Latitude"].str.len().min()]
latlong["Longitude"] = latlong["Longitude"].str[:latlong["Longitude"].str.len().min()] 
latlong_final["Latitude"] = latlong["Latitude"].str[:latlong["Latitude"].str.len().min()]
latlong_final["Longitude"] = latlong["Longitude"].str[:latlong["Longitude"].str.len().min()]

C:\Users\Emma\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Emma\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [85]:
latlong_final

           Latitude Longitude arrondissement
Unnamed: 0
0           48.8659    2.2757             16
1           48.8559    2.3925             11
2           48.8408    2.3875             12
3           48.8792    2.3373             09
4           48.8515    2.3436             05
...             ...       ...            ...
354         48.8781    2.2992             08
462         48.8756    2.3995             19
684         48.8555    2.3684             04
821         48.8700    2.3511             10
1063        48.8450    2.3394             06

[1020 rows x 3 columns]

In [86]:
#latlong_final[latlong_final["Latitude"] == 48.891163] #2.38657

In [87]:
latlong.shape

(2437959, 2)

In [88]:
allrows_latlong_minidf = latlong.merge(latlong_final, on = ["Latitude", "Longitude"], how = "left")
allrows_latlong_minidf

        Latitude Longitude arrondissement
0        48.8659    2.2757             16
1        48.8559    2.3925             11
2        48.8408    2.3875             12
3        48.8792    2.3373             09
4        48.8515    2.3436             05
...          ...       ...            ...
2512777  48.8867    2.3262             18
2512778  48.8912    2.3512             18
2512779  48.8704    2.3232             08
2512780  48.8560    2.3948             20
2512781  48.8538    2.4024             20

[2512782 rows x 3 columns]

In [89]:
allrows_latlong_minidf.isnull().sum()

Latitude          0
Longitude         0
arrondissement    0
dtype: int64

In [90]:
allrows_latlong_minidf[allrows_latlong_minidf["arrondissement"].isnull()]

Empty DataFrame
Columns: [Latitude, Longitude, arrondissement]
Index: []

In [91]:
minidf.shape[0]

2437959

In [92]:
minidf['Latitude'] = minidf['Latitude'].astype(str).str[:7]
minidf['Longitude'] = minidf['Longitude'].astype(str).str[:6]

C:\Users\Emma\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Emma\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [93]:
latlong_final

           Latitude Longitude arrondissement
Unnamed: 0
0           48.8659    2.2757             16
1           48.8559    2.3925             11
2           48.8408    2.3875             12
3           48.8792    2.3373             09
4           48.8515    2.3436             05
...             ...       ...            ...
354         48.8781    2.2992             08
462         48.8756    2.3995             19
684         48.8555    2.3684             04
821         48.8700    2.3511             10
1063        48.8450    2.3394             06

[1020 rows x 3 columns]

In [94]:
latlong_final["arrondissement"].isnull().sum()

0

In [95]:
minidf

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,Latitude,Longitude
0,Benjamin Godard - Victor Hugo,16107,2,1,"48.865983, 2.275725",2022-05-01 00:33:45+02:00,3,31,35,OUI,OUI,Paris,OUI,48.8659,2.2757
1,Charonne - Robert et Sonia Delauney,11104,9,4,"48.85590755596891, 2.3925706744194035",2022-05-01 00:39:22+02:00,13,5,20,OUI,OUI,Paris,OUI,48.8559,2.3925
2,Mairie du 12ème,12109,0,0,"48.840855311763, 2.3875549435616",2022-05-01 00:40:15+02:00,0,30,30,NON,OUI,Paris,NON,48.8408,2.3875
3,Toudouze - Clauzel,9020,1,1,"48.87929591733507, 2.3373600840568547",2022-05-01 00:38:42+02:00,2,19,21,OUI,OUI,Paris,OUI,48.8792,2.3373
4,Harpe - Saint-Germain,5001,2,34,"48.85151881501689, 2.343670316040516",2022-05-01 00:40:52+02:00,36,8,45,OUI,OUI,Paris,OUI,48.8515,2.3436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6179188,Pierre Ginier - Clichy,18045,6,7,"48.8867667, 2.326228",2022-05-31 23:26:46+02:00,13,3,16,OUI,OUI,Paris,OUI,48.8867,2.3262
6179197,Ordener - Poissonniers,18023,24,9,"48.891213890844654, 2.351288666219873",2022-05-31 23:24:00+02:00,33,2,35,OUI,OUI,Paris,OUI,48.8912,2.3512
6179200,Malesherbes - Place de la Madeleine,8004,3,1,"48.87040602848252, 2.323243509807989",2022-05-31 23:25:58+02:00,4,62,67,OUI,OUI,Paris,OUI,48.8704,2.3232
6179207,Charonne - Alexandre Dumas,20014,1,4,"48.85607741505607, 2.394869327545166",2022-05-31 23:34:06+02:00,5,30,35,OUI,OUI,Paris,OUI,48.8560,2.3948
6179232,Haies - Réunion,20116,6,3,"48.85386896766491, 2.402426162238911",2022-05-31 23:25:28+02:00,9,12,22,OUI,OUI,Paris,OUI,48.8538,2.4024

In [ ]:
# convertir latitude et longitude de minidf de la même manière

In [96]:
df_cleaned_Paris = minidf.merge(latlong_final, on=['Latitude','Longitude'], how = "left")

In [97]:
df_cleaned_Paris["arrondissement"].isnull().sum()

0

In [98]:
df_cleaned_Paris.loc[df_cleaned_Paris["arrondissement"].isnull(), "Latitude"]

Series([], Name: Latitude, dtype: object)

In [99]:
df_cleaned_Paris[df_cleaned_Paris["arrondissement"].isnull()]

Empty DataFrame
Columns: [name, stationcode, ebike, mechanical, coordonnees_geo, duedate, numbikesavailable, numdocksavailable, capacity, is_renting, is_installed, nom_arrondissement_communes, is_returning, Latitude, Longitude, arrondissement]
Index: []

In [100]:
df_cleaned_Paris["arrondissement"].value_counts()

15    228615
12    186668
11    174970
13    167589
20    156840
17    147147
10    144830
18    140984
16    138118
19    136577
14    132938
08    127256
09    111317
05    101365
06     89763
07     78872
01     70028
04     65536
02     59866
03     53503
Name: arrondissement, dtype: int64

In [101]:
df_cleaned_Paris["arrondissement"].unique()

array(['16', '11', '12', '09', '05', '10', '14', '06', '08', '13', '17',
       '07', '15', '20', '19', '02', '18', '01', '03', '04'], dtype=object)

In [103]:
df_cleaned_Paris.duplicated().sum()

74823

In [105]:
df_cleaned_Paris = df_cleaned_Paris.drop_duplicates()
df_cleaned_Paris

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,Latitude,Longitude,arrondissement
0,Benjamin Godard - Victor Hugo,16107,2,1,"48.865983, 2.275725",2022-05-01 00:33:45+02:00,3,31,35,OUI,OUI,Paris,OUI,48.8659,2.2757,16
1,Charonne - Robert et Sonia Delauney,11104,9,4,"48.85590755596891, 2.3925706744194035",2022-05-01 00:39:22+02:00,13,5,20,OUI,OUI,Paris,OUI,48.8559,2.3925,11
2,Mairie du 12ème,12109,0,0,"48.840855311763, 2.3875549435616",2022-05-01 00:40:15+02:00,0,30,30,NON,OUI,Paris,NON,48.8408,2.3875,12
3,Toudouze - Clauzel,9020,1,1,"48.87929591733507, 2.3373600840568547",2022-05-01 00:38:42+02:00,2,19,21,OUI,OUI,Paris,OUI,48.8792,2.3373,09
4,Harpe - Saint-Germain,5001,2,34,"48.85151881501689, 2.343670316040516",2022-05-01 00:40:52+02:00,36,8,45,OUI,OUI,Paris,OUI,48.8515,2.3436,05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2512777,Pierre Ginier - Clichy,18045,6,7,"48.8867667, 2.326228",2022-05-31 23:26:46+02:00,13,3,16,OUI,OUI,Paris,OUI,48.8867,2.3262,18
2512778,Ordener - Poissonniers,18023,24,9,"48.891213890844654, 2.351288666219873",2022-05-31 23:24:00+02:00,33,2,35,OUI,OUI,Paris,OUI,48.8912,2.3512,18
2512779,Malesherbes - Place de la Madeleine,8004,3,1,"48.87040602848252, 2.323243509807989",2022-05-31 23:25:58+02:00,4,62,67,OUI,OUI,Paris,OUI,48.8704,2.3232,08
2512780,Charonne - Alexandre Dumas,20014,1,4,"48.85607741505607, 2.394869327545166",2022-05-31 23:34:06+02:00,5,30,35,OUI,OUI,Paris,OUI,48.8560,2.3948,20
2512781,Haies - Réunion,20116,6,3,"48.85386896766491, 2.402426162238911",2022-05-31 23:25:28+02:00,9,12,22,OUI,OUI,Paris,OUI,48.8538,2.4024,20

In [106]:
df_cleaned

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning
0,Benjamin Godard - Victor Hugo,16107,2,1,"[48.865983, 2.275725]",2022-05-01 00:33:45+02:00,3,31,35,OUI,OUI,Paris,OUI
1,Charonne - Robert et Sonia Delauney,11104,9,4,"[48.85590755596891, 2.3925706744194035]",2022-05-01 00:39:22+02:00,13,5,20,OUI,OUI,Paris,OUI
2,Mairie du 12ème,12109,0,0,"[48.840855311763, 2.3875549435616]",2022-05-01 00:40:15+02:00,0,30,30,NON,OUI,Paris,NON
3,Toudouze - Clauzel,9020,1,1,"[48.87929591733507, 2.3373600840568547]",2022-05-01 00:38:42+02:00,2,19,21,OUI,OUI,Paris,OUI
4,Harpe - Saint-Germain,5001,2,34,"[48.85151881501689, 2.343670316040516]",2022-05-01 00:40:52+02:00,36,8,45,OUI,OUI,Paris,OUI
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6179193,Garibaldi - Gabriel Péri,34008,8,17,"[48.90574191139427, 2.331604420805889]",2022-05-31 23:26:24+02:00,25,3,30,OUI,OUI,Saint-Ouen-sur-Seine,OUI
6179197,Ordener - Poissonniers,18023,24,9,"[48.891213890844654, 2.351288666219873]",2022-05-31 23:24:00+02:00,33,2,35,OUI,OUI,Paris,OUI
6179200,Malesherbes - Place de la Madeleine,8004,3,1,"[48.87040602848252, 2.323243509807989]",2022-05-31 23:25:58+02:00,4,62,67,OUI,OUI,Paris,OUI
6179207,Charonne - Alexandre Dumas,20014,1,4,"[48.85607741505607, 2.394869327545166]",2022-05-31 23:34:06+02:00,5,30,35,OUI,OUI,Paris,OUI
6179232,Haies - Réunion,20116,6,3,"[48.85386896766491, 2.402426162238911]",2022-05-31 23:25:28+02:00,9,12,22,OUI,OUI,Paris,OUI

In [107]:
df_cleaned["coordonnees_geo"] = df_cleaned["coordonnees_geo"].str[1:-1]
df_cleaned[["Latitude","Longitude"]] = df_cleaned["coordonnees_geo"].str.split(', ', expand = True)
df_cleaned["Latitude"] = df_cleaned["Latitude"].astype(str).str[:7]
df_cleaned["Longitude"] = df_cleaned["Longitude"].astype(str).str[:6]

In [108]:
df_cleaned_total = df_cleaned.merge(latlong_final, on=['Latitude','Longitude'], how ="left")

In [110]:
df_cleaned_total[df_cleaned_total["arrondissement"].isnull()][df_cleaned_total.loc[df_cleaned_total["arrondissement"].isnull(), "nom_arrondissement_communes"] == "Paris"]

Empty DataFrame
Columns: [name, stationcode, ebike, mechanical, coordonnees_geo, duedate, numbikesavailable, numdocksavailable, capacity, is_renting, is_installed, nom_arrondissement_communes, is_returning, Latitude, Longitude, arrondissement]
Index: []

In [111]:
df_cleaned_total

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,Latitude,Longitude,arrondissement
0,Benjamin Godard - Victor Hugo,16107,2,1,"48.865983, 2.275725",2022-05-01 00:33:45+02:00,3,31,35,OUI,OUI,Paris,OUI,48.8659,2.2757,16
1,Charonne - Robert et Sonia Delauney,11104,9,4,"48.85590755596891, 2.3925706744194035",2022-05-01 00:39:22+02:00,13,5,20,OUI,OUI,Paris,OUI,48.8559,2.3925,11
2,Mairie du 12ème,12109,0,0,"48.840855311763, 2.3875549435616",2022-05-01 00:40:15+02:00,0,30,30,NON,OUI,Paris,NON,48.8408,2.3875,12
3,Toudouze - Clauzel,9020,1,1,"48.87929591733507, 2.3373600840568547",2022-05-01 00:38:42+02:00,2,19,21,OUI,OUI,Paris,OUI,48.8792,2.3373,09
4,Harpe - Saint-Germain,5001,2,34,"48.85151881501689, 2.343670316040516",2022-05-01 00:40:52+02:00,36,8,45,OUI,OUI,Paris,OUI,48.8515,2.3436,05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3359953,Garibaldi - Gabriel Péri,34008,8,17,"48.90574191139427, 2.331604420805889",2022-05-31 23:26:24+02:00,25,3,30,OUI,OUI,Saint-Ouen-sur-Seine,OUI,48.9057,2.3316,NaN
3359954,Ordener - Poissonniers,18023,24,9,"48.891213890844654, 2.351288666219873",2022-05-31 23:24:00+02:00,33,2,35,OUI,OUI,Paris,OUI,48.8912,2.3512,18
3359955,Malesherbes - Place de la Madeleine,8004,3,1,"48.87040602848252, 2.323243509807989",2022-05-31 23:25:58+02:00,4,62,67,OUI,OUI,Paris,OUI,48.8704,2.3232,08
3359956,Charonne - Alexandre Dumas,20014,1,4,"48.85607741505607, 2.394869327545166",2022-05-31 23:34:06+02:00,5,30,35,OUI,OUI,Paris,OUI,48.8560,2.3948,20
3359957,Haies - Réunion,20116,6,3,"48.85386896766491, 2.402426162238911",2022-05-31 23:25:28+02:00,9,12,22,OUI,OUI,Paris,OUI,48.8538,2.4024,20

In [112]:
df_cleaned_total[df_cleaned_total["nom_arrondissement_communes"] != "Paris"]

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,Latitude,Longitude,arrondissement
11,André Karman - République,33006,1,2,"48.91039875761846, 2.3851355910301213",2022-05-01 00:35:06+02:00,3,27,31,OUI,OUI,Aubervilliers,OUI,48.9103,2.3851,NaN
13,Bois de Vincennes - Gare,41301,22,14,"48.836022242886884, 2.4708339950830287",2022-05-01 00:40:22+02:00,36,12,50,OUI,OUI,Nogent-sur-Marne,OUI,48.8360,2.4708,NaN
16,Pierre et Marie Curie - Maurice Thorez,42016,12,4,"48.81580226360801, 2.376804985105991",2022-05-01 00:38:41+02:00,16,10,27,OUI,OUI,Ivry-sur-Seine,OUI,48.8158,2.3768,NaN
18,Silly - Galliéni,21010,2,5,"48.835583838705936, 2.2325500845909123",2022-05-01 00:35:08+02:00,7,17,25,OUI,OUI,Boulogne-Billancourt,OUI,48.8355,2.2325,NaN
20,Place Nelson Mandela,25006,5,2,"48.862090937689715, 2.196576297283173",2022-05-01 00:31:37+02:00,7,15,22,OUI,OUI,Rueil-Malmaison,OUI,48.8620,2.1965,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3359941,Henri Barbusse - Bourguignons,26008,21,10,"48.91301722799713, 2.2734212270774417",2022-05-31 23:26:58+02:00,31,0,34,OUI,OUI,Asnières-sur-Seine,OUI,48.9130,2.2734,NaN
3359942,Marceau Delorme - Pierre Brossolette,26009,9,13,"48.91206062860357, 2.295897423568745",2022-05-31 23:26:54+02:00,22,2,28,OUI,OUI,Asnières-sur-Seine,OUI,48.9120,2.2958,NaN
3359943,Adrien Lesesne - Docteur Bauer,34005,19,8,"48.90263867304635, 2.348248063431511",2022-05-31 23:23:44+02:00,27,1,30,OUI,OUI,Saint-Ouen-sur-Seine,OUI,48.9026,2.3482,NaN
3359952,Châteaudun - Place de la Liberté,22507,3,3,"48.90970830301211, 2.2454486480600626",2022-05-31 23:26:37+02:00,6,17,26,OUI,OUI,La Garenne-Colombes,OUI,48.9097,2.2454,NaN
3359953,Garibaldi - Gabriel Péri,34008,8,17,"48.90574191139427, 2.331604420805889",2022-05-31 23:26:24+02:00,25,3,30,OUI,OUI,Saint-Ouen-sur-Seine,OUI,48.9057,2.3316,NaN

In [113]:
df_cleaned_total["arrondissement"].unique()

array(['16', '11', '12', '09', '05', '10', '14', '06', '08', nan, '13',
       '17', '07', '15', '20', '19', '02', '18', '01', '03', '04'],
      dtype=object)

In [114]:
df_cleaned_total["arrondissement"].value_counts()

15    228615
12    186668
11    174970
13    167589
20    156840
17    147147
10    144830
18    140984
16    138118
19    136577
14    132938
08    127256
09    111317
05    101365
06     89763
07     78872
01     70028
04     65536
02     59866
03     53503
Name: arrondissement, dtype: int64

In [115]:
# le nombre de lignes dans Paris
(df_cleaned_total[df_cleaned_total["nom_arrondissement_communes"] == "Paris"]).shape[0]

2512782

In [116]:
# le nombre de lignes avec un arrondissement renseigné, et donc dans Paris !!!
df_cleaned_total["arrondissement"].value_counts().sum()

2512782

In [117]:
# toutes les lignes dont l'arrondissement est NaN mais qui sont dans Paris, IL NE DEVRAIT PAS EN AVOIR !!!
noparis = df_cleaned_total[df_cleaned_total["arrondissement"].isnull()]
erreurs_paris = noparis[noparis["nom_arrondissement_communes"] == "Paris"]
erreurs_paris

Empty DataFrame
Columns: [name, stationcode, ebike, mechanical, coordonnees_geo, duedate, numbikesavailable, numdocksavailable, capacity, is_renting, is_installed, nom_arrondissement_communes, is_returning, Latitude, Longitude, arrondissement]
Index: []

In [118]:
df_cleaned_total

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,Latitude,Longitude,arrondissement
0,Benjamin Godard - Victor Hugo,16107,2,1,"48.865983, 2.275725",2022-05-01 00:33:45+02:00,3,31,35,OUI,OUI,Paris,OUI,48.8659,2.2757,16
1,Charonne - Robert et Sonia Delauney,11104,9,4,"48.85590755596891, 2.3925706744194035",2022-05-01 00:39:22+02:00,13,5,20,OUI,OUI,Paris,OUI,48.8559,2.3925,11
2,Mairie du 12ème,12109,0,0,"48.840855311763, 2.3875549435616",2022-05-01 00:40:15+02:00,0,30,30,NON,OUI,Paris,NON,48.8408,2.3875,12
3,Toudouze - Clauzel,9020,1,1,"48.87929591733507, 2.3373600840568547",2022-05-01 00:38:42+02:00,2,19,21,OUI,OUI,Paris,OUI,48.8792,2.3373,09
4,Harpe - Saint-Germain,5001,2,34,"48.85151881501689, 2.343670316040516",2022-05-01 00:40:52+02:00,36,8,45,OUI,OUI,Paris,OUI,48.8515,2.3436,05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3359953,Garibaldi - Gabriel Péri,34008,8,17,"48.90574191139427, 2.331604420805889",2022-05-31 23:26:24+02:00,25,3,30,OUI,OUI,Saint-Ouen-sur-Seine,OUI,48.9057,2.3316,NaN
3359954,Ordener - Poissonniers,18023,24,9,"48.891213890844654, 2.351288666219873",2022-05-31 23:24:00+02:00,33,2,35,OUI,OUI,Paris,OUI,48.8912,2.3512,18
3359955,Malesherbes - Place de la Madeleine,8004,3,1,"48.87040602848252, 2.323243509807989",2022-05-31 23:25:58+02:00,4,62,67,OUI,OUI,Paris,OUI,48.8704,2.3232,08
3359956,Charonne - Alexandre Dumas,20014,1,4,"48.85607741505607, 2.394869327545166",2022-05-31 23:34:06+02:00,5,30,35,OUI,OUI,Paris,OUI,48.8560,2.3948,20
3359957,Haies - Réunion,20116,6,3,"48.85386896766491, 2.402426162238911",2022-05-31 23:25:28+02:00,9,12,22,OUI,OUI,Paris,OUI,48.8538,2.4024,20

In [119]:
df_cleaned_total.loc[~df_cleaned_total["arrondissement"].isnull(), "arrondissement"] = df_cleaned_total["nom_arrondissement_communes"] + " " + df_cleaned_total["arrondissement"]

In [120]:
df_cleaned_total.loc[df_cleaned_total["arrondissement"].isnull(), "arrondissement"] = df_cleaned_total["nom_arrondissement_communes"]

In [121]:
df_cleaned_total

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,Latitude,Longitude,arrondissement
0,Benjamin Godard - Victor Hugo,16107,2,1,"48.865983, 2.275725",2022-05-01 00:33:45+02:00,3,31,35,OUI,OUI,Paris,OUI,48.8659,2.2757,Paris 16
1,Charonne - Robert et Sonia Delauney,11104,9,4,"48.85590755596891, 2.3925706744194035",2022-05-01 00:39:22+02:00,13,5,20,OUI,OUI,Paris,OUI,48.8559,2.3925,Paris 11
2,Mairie du 12ème,12109,0,0,"48.840855311763, 2.3875549435616",2022-05-01 00:40:15+02:00,0,30,30,NON,OUI,Paris,NON,48.8408,2.3875,Paris 12
3,Toudouze - Clauzel,9020,1,1,"48.87929591733507, 2.3373600840568547",2022-05-01 00:38:42+02:00,2,19,21,OUI,OUI,Paris,OUI,48.8792,2.3373,Paris 09
4,Harpe - Saint-Germain,5001,2,34,"48.85151881501689, 2.343670316040516",2022-05-01 00:40:52+02:00,36,8,45,OUI,OUI,Paris,OUI,48.8515,2.3436,Paris 05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3359953,Garibaldi - Gabriel Péri,34008,8,17,"48.90574191139427, 2.331604420805889",2022-05-31 23:26:24+02:00,25,3,30,OUI,OUI,Saint-Ouen-sur-Seine,OUI,48.9057,2.3316,Saint-Ouen-sur-Seine
3359954,Ordener - Poissonniers,18023,24,9,"48.891213890844654, 2.351288666219873",2022-05-31 23:24:00+02:00,33,2,35,OUI,OUI,Paris,OUI,48.8912,2.3512,Paris 18
3359955,Malesherbes - Place de la Madeleine,8004,3,1,"48.87040602848252, 2.323243509807989",2022-05-31 23:25:58+02:00,4,62,67,OUI,OUI,Paris,OUI,48.8704,2.3232,Paris 08
3359956,Charonne - Alexandre Dumas,20014,1,4,"48.85607741505607, 2.394869327545166",2022-05-31 23:34:06+02:00,5,30,35,OUI,OUI,Paris,OUI,48.8560,2.3948,Paris 20
3359957,Haies - Réunion,20116,6,3,"48.85386896766491, 2.402426162238911",2022-05-31 23:25:28+02:00,9,12,22,OUI,OUI,Paris,OUI,48.8538,2.4024,Paris 20

In [122]:
# Ajouter une nouvelle colonne pour les intervalles de 30 minutes
#df_cleaned_total["interval"] = df_cleaned_total["duedate"].dt.round("30min")

In [123]:
df_cleaned_total = df_cleaned_total.drop_duplicates()

In [124]:
df_cleaned_total

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,Latitude,Longitude,arrondissement
0,Benjamin Godard - Victor Hugo,16107,2,1,"48.865983, 2.275725",2022-05-01 00:33:45+02:00,3,31,35,OUI,OUI,Paris,OUI,48.8659,2.2757,Paris 16
1,Charonne - Robert et Sonia Delauney,11104,9,4,"48.85590755596891, 2.3925706744194035",2022-05-01 00:39:22+02:00,13,5,20,OUI,OUI,Paris,OUI,48.8559,2.3925,Paris 11
2,Mairie du 12ème,12109,0,0,"48.840855311763, 2.3875549435616",2022-05-01 00:40:15+02:00,0,30,30,NON,OUI,Paris,NON,48.8408,2.3875,Paris 12
3,Toudouze - Clauzel,9020,1,1,"48.87929591733507, 2.3373600840568547",2022-05-01 00:38:42+02:00,2,19,21,OUI,OUI,Paris,OUI,48.8792,2.3373,Paris 09
4,Harpe - Saint-Germain,5001,2,34,"48.85151881501689, 2.343670316040516",2022-05-01 00:40:52+02:00,36,8,45,OUI,OUI,Paris,OUI,48.8515,2.3436,Paris 05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3359953,Garibaldi - Gabriel Péri,34008,8,17,"48.90574191139427, 2.331604420805889",2022-05-31 23:26:24+02:00,25,3,30,OUI,OUI,Saint-Ouen-sur-Seine,OUI,48.9057,2.3316,Saint-Ouen-sur-Seine
3359954,Ordener - Poissonniers,18023,24,9,"48.891213890844654, 2.351288666219873",2022-05-31 23:24:00+02:00,33,2,35,OUI,OUI,Paris,OUI,48.8912,2.3512,Paris 18
3359955,Malesherbes - Place de la Madeleine,8004,3,1,"48.87040602848252, 2.323243509807989",2022-05-31 23:25:58+02:00,4,62,67,OUI,OUI,Paris,OUI,48.8704,2.3232,Paris 08
3359956,Charonne - Alexandre Dumas,20014,1,4,"48.85607741505607, 2.394869327545166",2022-05-31 23:34:06+02:00,5,30,35,OUI,OUI,Paris,OUI,48.8560,2.3948,Paris 20
3359957,Haies - Réunion,20116,6,3,"48.85386896766491, 2.402426162238911",2022-05-31 23:25:28+02:00,9,12,22,OUI,OUI,Paris,OUI,48.8538,2.4024,Paris 20

In [125]:
df_cleaned_total.to_csv("cleaned_df1_Velib_MAY_2022.csv")